@import "../../../../variables";

.scoreboard {
    border-radius: 20px;
    border: $accent-border;
    min-width: 325px;
    max-width: 400px;
    padding: 16px;

    position: relative;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

    .score {
        border-bottom: $accent-border;
        background: transparent;
        color: $accent-color;
        display: flex;
        justify-content: space-between;
        span {
            padding: 16px 4px 8px;
        }
    }
}

.logo {
    margin: 16px;
}
